<mat-card class="login-card" style="padding-top:5vh">
  <mat-card-header>
    <mat-card-title style="padding-top: 5vh;">Welcome  to  Your Music Collection! Choose your move!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="text-align: center; padding-top: 10vh;">
      <button mat-raised-button class="custom-button" color="primary" routerLink="/register">Register</button>

      <button mat-raised-button class="custom-button" color="accent" routerLink="/login">Login</button>
    </div>
  </mat-card-content>
</mat-card>
